main .title {
  font-size: 0.8em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

main .title p {
  color: var(--gray);
  font-size: 1em;
}

main .title h1 {
  background-image: linear-gradient(
    60deg,
    var(--theme-secondary),
    var(--theme-color)
  );
  color: black;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

main figure {
  border: 1px solid var(--gray);
  border-radius: 5px;
  margin-bottom: 1rem;
}

main .loading-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1rem;
}
