header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.521);
  font-size: 1rem;
}

header h1 {
  font-weight: 600;
}

header h1::before {
  content: '\201C';
}

header h1::after {
  content: '\201D';
}

header #random-btn {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border-radius: 5px;
  user-select: none;
  border: none;
  background: none;
}

header #random-btn:hover {
  background: rgb(193, 193, 196);
  transition: all 0.2s ease-in;
}

header #random-btn:active {
  transform: scale(0.9);
}

header #random-btn:disabled svg {
  opacity: 0.7;
}

header #random-btn p {
  font-size: 1.5em;
  margin-left: 5px;
}

@media screen and (max-width: 850px) {
  header {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  header {
    font-size: 0.6rem;
  }
  header #random-btn p {
    display: none;
  }
  header #random-btn svg {
    height: 1.8em;
  }
}
