main {
  width: 70%;
  margin: 1rem auto;
}

main figure {
  padding: 1rem 1.3rem;
}

main figure blockquote {
  font-size: 3rem;
  font-weight: 800;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

main #author {
  text-align: right;
  font-weight: 400;
  font-size: 2.5rem;
}

main #author::before {
  content: '— ';
}
