main {
  width: 70%;
  margin: 1rem auto;
  font-size: 3rem;
}

main figure {
  padding: 0.5em;
}

main figure blockquote {
  font-size: inherit;
  font-weight: 800;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

main #author {
  text-align: right;
  font-weight: 400;
  font-size: 0.8em;
}

main #author::before {
  content: '— ';
}

#author a {
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #7d7d8515, 0 2px 0 #7d7d8556;
  transition: box-shadow 0.3s;
  color: inherit;
  overflow: hidden;
}

#author a:hover {
  box-shadow: inset 0 -45px 0 #7d7d8556, 0 2px 0 #2a2a2c56;
}

/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
  main {
    width: 95%;
    font-size: 2.5em;
  }
  main #author {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 500px) {
  main {
    font-size: 1.8em;
  }
  main #author {
    font-size: 0.7em;
  }
}
